.card-fixed-bg {
    background-color: wheat;
}
.home-bg{
    background-color: darkseagreen;
}
.custom-ul-bg {
    background-color: blanchedalmond;
    border-radius: 10px;
    margin: 15px;
    padding-top: 15px;
}